
{% extends "navigationbar.html" %}
{% load static %}
    {% block body %}
    <div class="container" style="margin-top:50px">
        <h1 class="text-center">About Us</h1>
        <br><br><br><br>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="{% static 'images/hospital.jpg' %}" width="300" height="200" class="img-responsive">
            </div>

            <div class="col-sm-8  font-weight-bold mt-5">
                Our goal is to turn a Hospital into an efficient, scalable and futuristic healthcare business ecosystem. We deliver quality services to hospitals through robust and uniquely customized Hospital Management System
            </div>
        </div>
    </div>
    {% endblock body %}
    
