.nav-link{
    color:white !important;
}

.nav-link:hover{
    color:rgb(168, 199, 162) !important ;
    background-color: rgb(67, 13, 117);
    border-radius: 12px;
}
.navbar-brand{
    color: rgb(240, 46, 32) !important ;
    
    font-weight: bold;
}

.mydivstyle:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}